.HeaderContainer{
    /* width: vw; */
}
.HeaderName{
    text-align: center;
}
/* .ResumerInfo{
} */
.infoClassContainer{
    width:10
}
.ResumerInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    padding-left: 1vw;
    width: 50;

    padding-right: 1vw;
}
.HeaderName{
    font-size: 24px;
    font-weight: 600;
}