.HeaderContainer{
    /* width: vw; */
}
.HeaderName{
    text-align: center;
}
.ResumerInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    padding-left: 1vw;
    padding-right: 1vw;
}
.HeaderName{
    font-size: 24px;
    font-weight: 600;
}