.rightPageOuterContainer{
    display: flexbox;
    /* align-items: center; */
    /* justify-items: center; */
}
.rightPageContainer{
    display: flex;   
}
.componentTypeHeading{
    text-align: left;
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 1.2vh;
    padding-left: 1vw;
}

.rightPageContainer{
    display: flex;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 20px; /* optional spacing */
    width:35vw
}
.rightPageComponentContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 items per row */
    gap: 20px; /* optional spacing */
    width:35vw;
    margin-top: 2.5vh;
}
.componentBtn{
    background-color: rgb(57, 249, 57);
    color: white;
    font-weight: 500;
    max-width: 130px;
    text-align: center;
    min-width: 95px;
    border-radius: 20px;
    min-height: 25px;
    cursor:pointer
}